DataFrame, Series

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
menu_df = pd.DataFrame(
                        {'Americano':[4800,4600,5000],'Cafe latte':[4200,4600,5500],'Iced tea':[4100,4500,4500]},
                        index = ['Starbucks','Tom and Toms','Pascucci'])
menu_df = menu_df.sort_values(by = 'Americano')
menu_s = pd.Series([3000,3500,3000],index = ['Half coffee','Notted Cafe','Krispy Donut'],name = 'Donut price')
menu_s = menu_s.sort_values(ascending = False)

menu_df
#menu_s

              Americano  Cafe latte  Iced tea
Tom and Toms       4600        4600      4500
Starbucks          4800        4200      4100
Pascucci           5000        5500      4500

Data Extraction from CSV

In [32]:
# csv파일 읽기 및 요약 #

data = pd.read_csv(r'C:\Users\윤철환\Desktop\윤철환\VS1\.vscode\ML_csv\ramen-ratings.csv', index_col = 0)
# data.head(3),
data.describe() # 평균, min, max 등의 통계
# data.Brand.value_counts()
# data.Style.unique()

         Brand Variety Style Country Stars Top Ten
count     2580    2580  2578    2580  2580      41
unique     355    2413     7      38    51      38
top     Nissin    Beef  Pack   Japan     4      \n
freq       381       7  1531     352   384       4

In [46]:
# 특정 조건의 데이터 추출 / iloc - 숫자, loc - 칼럼명과 조건 #
# iloc[0]은 첫번째 행의 데이터, loc[0]은 index가 0인 데이터 #

# data.iloc[0]
# data.iloc[:5,:2]
# data.iloc[::2,:] # 짝수 행의 데이터
# data.loc[:,['Brand','Variety','Stars']]
data[(data.Country == 'South Korea') & (data.Style == 'Cup')] # and : &, or : |
# data[data.Country.isin(['Japan','South Korea'])] # 칼럼이 list 안에 해당하는 데이터
# data[pd.isnull(data['Top Ten'])] # null인 데이터

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2481,Samyang Foods,Buldak Bokkeummyun,Cup,South Korea,3.75,NaN
2382,Nongshim,Seaweed Instant Noodle,Cup,South Korea,0.5,NaN
2356,Nongshim,Spicy Shrimp Cup Noodle,Cup,South Korea,4,NaN
1674,Emart,Dare You! Habanero Ramen (New Edition),Cup,South Korea,3.5,NaN
1643,Emart,Dare You! Habanero Jjajang Ramen,Cup,South Korea,3.5,NaN
1634,Samyang Foods,Shoyu Noodle,Cup,South Korea,3.5,NaN
1372,Samyang Foods,Nagasaki Jjamppong,Cup,South Korea,3.75,NaN
1283,Nongshim,Oolongmen Kimchi Cup Noodle Soup Mix,Cup,South Korea,4,NaN
1236,Emart,Dare You Habanero Ramyun,Cup,South Korea,3.25,NaN
1187,Nongshim,Shin Ramyun Cup,Cup,South Korea,3.5,NaN
1113,Samyang Foods,Samyang Ramyun (SK Version),Cup,South Korea,3.5,NaN
1048,Ottogi,Cheese Bokki,Cup,South Korea,3.5,NaN
998,Nongshim,Shin Ramyun Black Spicy Beef,Cup,South Korea,4.5,NaN
950,Ottogi,Kiss Myon,Cup,South Korea,3.75,NaN
933,Paldo,Kokomen Spicy Chicken,Cup,South Korea,4.5,NaN
918,Nongshim,Tempura Udon Flavor Cup Ramyun,Cup,South Korea,4.5,NaN
913,Nongshim,Spicy Shrimp Cup Ramyun,Cup,South Korea,4.25,NaN
907,Nongshim,Neoguri Spicy Seafood,Cup,South Korea,4,NaN
839,CJ CheilJedang,Mild Bean Curd Stew,Cup,South Korea,2,NaN
751,Nongshim,Shin Ramyun Black Onion,Cup,South Korea,5,NaN
658,Paldo,Hwa King Cup,Cup,South Korea,3.5,NaN
645,Nongshim,Oolongmen Artificial Chicken,Cup,South Korea,3.75,NaN
602,Nongshim,Oolongmen Artificial Seafood,Cup,South Korea,3.5,NaN
570,O Sung,Keopnurungji Rice Snack,Cup,South Korea,2.5,NaN
568,Paldo,Gomtang,Cup,South Korea,4,NaN
553,Samyang,60 Ingredients,Cup,South Korea,2.75,NaN
508,Samyang,Beef,Cup,South Korea,3.75,NaN
506,Nongshim,Oolongmen Beef,Cup,South Korea,2.5,NaN
485,Ottogi,Hot & Spicy Ramen,Cup,South Korea,3,NaN
484,Ottogi,Bekse Curry Myon,Cup,South Korea,4.25,NaN
423,Noodle Time,Shin Cup,Cup,South Korea,3,NaN
407,Ottogi,Snack Ramyon,Cup,South Korea,3.5,NaN
399,Paldo,Spicy Seafood,Cup,South Korea,3.75,NaN
395,Ottogi,Jin Ramen (Mild),Cup,South Korea,3,NaN
394,Paldo,Hwa Cup Hot Spicy,Cup,South Korea,3.5,NaN
332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
323,Ottogi,Jin Ramen (Hot),Cup,South Korea,3.5,NaN
287,Paldo,King Cup Lobster,Cup,South Korea,3.75,NaN
283,Paldo,King Cup Kimchi Pot Stew,Cup,South Korea,4,NaN
9,Sutah,Cup Noodle,Cup,South Korea,2,NaN

In [36]:
# null값 다루기 #

# fillratings = data['Top Ten'].fillna('OHIO') # 특정 칼럼의 null 채우기
# fillratings.value_counts()

# fillratings = data.fillna('hello')
# data.dropna # null 값 drop

fillratings = data['Style'].replace('Cup','CCUUPP') # 특정 값 변경
fillratings.value_counts()

Pack      1531
Bowl       481
CCUUPP     450
Tray       108
Box          6
Can          1
Bar          1
Name: Style, dtype: int64

In [47]:
# lambda 이용하여 특정 조건의 값들 추출 #

chicken = data.Variety.map(lambda var: 'Chicken' in var or 'chicken' in var).sum()
beef = data.Variety.map(lambda var: 'Beef' in var).sum()
shoyu = data.Variety.map(lambda var: 'Shoyu' in var or 'shoyu'in var).sum()
pd.Series([chicken, beef,shoyu],index = ['Chicken','Beef','Shoyu'],name = 'Ingredients in Ramen')

Chicken    328
Beef       232
Shoyu       40
Name: Ingredients in Ramen, dtype: int64

In [49]:
# func과 apply를 활용하여 값들 변경 #
# sort_values는 표에 존재하는 정보에 대해서만 가능 #

def stars(row):
  if row.Stars == 'Unrated':
    return 0
  else:
    return float(row.Stars)

data.Stars = data.apply(stars, axis = 'columns')
# data.Stars.value_counts()
# data.Stars.mean()
# data.Stars.median()
# data.iloc[ratings.Stars.idxmax()] # 최고 평점 데이터 추출
data[(data.Country.isin(['Japan','South Korea'])&(data.Stars >= 4.0))].sort_values(by = 'Stars', ascending = False)

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
1378,Takamori Kosan,Yakisoba,Pack,Japan,5.0,NaN
1381,Takamori Kosan,Curry Udon,Pack,Japan,5.0,NaN
1911,Nissin,Emergency Chikin Ramen Cup Noodle,Cup,Japan,5.0,NaN
1895,Maruchan,Seimen Houjyun Koku Shoyu,Bowl,Japan,5.0,NaN
1893,Nissin,Cup Noodle Sio,Cup,Japan,5.0,NaN
...,...,...,...,...,...,...
2367,Samyang Foods,2x Spicy Haek Buldak Bokkeummyun,Pack,South Korea,4.0,NaN
1071,Nissin,Raoh Soy Sauce Taste,Pack,Japan,4.0,NaN
2518,Samurai Ramen,Umami Ramen,Pack,Japan,4.0,NaN
809,Nongshim,Neoguri Mild (South Korea),Pack,South Korea,4.0,NaN
1298,Good Tto Leu Foods,Lightning Beef Bone Tteokguk Rice Cake Soup,Bowl,South Korea,4.0,NaN

In [50]:
# 특정 값들 그룹화 #

data.groupby('Country').apply(lambda p: p['Variety'][[p.Stars.idxmax()]]) # 각 나라별로 평점이 가장 높은 식당
# data.groupby(['Country','Style']).count()
# data.groupby(['Country','Style']).Stars.mean()
# data.groupby(['Country','Style']).apply(lambda p: p.Variety[p.Stars.idxmax()])
# data.groupby(['Country','Style']).Stars.agg([len,min,max]).sort_values(by = 'Style',ascending = False)

Country        Review #
Australia      2068        Fusian Special Edition Ow... Ow... Spicy Cow M...
Bangladesh     2325                 Mr. Noodles Curry Flavor Instant Noodles
Brazil         2040                   Cup Noodles Sabor Franhp Com Requeijao
Cambodia       1859              Instant Noodles chicken Green Curry Flavour
Canada         1549                Chow Mein Japanese Style Noodles Yakisoba
China          2401                    Chongqing Noodles Burning Dry Noodles
Colombia       1186                Sabor A Carne Sopa Instantánea Con Fideos
Dubai          797                                                 Vegetable
Estonia        1100               Instant Noodles With Chicken Flavour Broth
Fiji           899                                              Chow Tomato
Finland        1764                                Nuudeli Tom Yum Katkarapu
Germany        2491                                    Soba Yakitori Chicken
Ghana          2554               Instant Noodles Beef In Light Soup Flavour
Holland        528                                    Good Noodles Vegetable
Hong Kong      2566        Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...
Hungary        1804        Oriental Style Instant Noodles Shrimp Creamy T...
India          2329                   Atta Noodles Jhatpat Banao Befikr Khao
Indonesia      2438                 Mi Goreng Original Flavour Fried Noodles
Japan          2522                         Hearty Japanese Style Curry Udon
Malaysia       2552                  Penang White Curry Rice Vermicelli Soup
Mexico         2335             Cup Noodles Gourmet Sabor A Caldo De Camaron
Myanmar        1964                     Instant Noodles Coconut Milk Flavour
Nepal          1140                     Preeti Instant Noodles Veg Soup Base
Netherlands    1783            Instant Noodles Creamy Tom Yum Shrimp Flavour
Nigeria        2502                                     Onion Chicken Flavor
Pakistan       2210                                   Instant Noodles Masala
Philippines    547                                 Pancit Canton Sweet Spicy
Poland         1006                               Barszcz czerwony (Borscht)
Sarawak        1697                            Instant Kampua Dark Soy Sauce
Singapore      2558        Creamy Soup With Crushed Noodles Hot & Sour Fi...
South Korea    2550                                         Paegaejang Ramen
Sweden         1517                              Instant Noodles Spicy Chili
Taiwan         2515          Man Han Feast Spicy Beef Flavor Instant Noodles
Thailand       2570                              Creamy tom Yum Kung Flavour
UK             2200                                  Shaolin Monk Vegetables
USA            2569                                  Yokohama Tonkotsu Shoyu
United States  2007                                   Rice Fettucini Alfredo
Vietnam        2354        Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...
Name: Variety, dtype: object

In [52]:
# 특정 항목 이름 바꾸기 #

data_rename = data.rename(columns = {'Variety':'Name'})
# data_rename = data.rename(columns = {'Name':'Variety'})
# data_rename = data.rename(index = {0:'First',1:'Second'})
# data_rename = data.rename_axis('Hello',axis = 'columns')
# data_rename = data.rename_axis('Field',axis = 'rows')
data_rename

,Brand,Name,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [55]:
# 특정 행이나 열 삭제 #

data_drop = data.drop([1,100,1000],axis = 0) # 행 삭제
# data_drop = data.drop(['Brand','Variety'],axis = 1) # 열 삭제
# data_drop = data[['Brand','Variety']] # 삭제하고자 하는 열 빼고 다 넣으면 제외된 열이 삭제됨
data_drop

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
6,Vifon,Nam Vang,Pack,Vietnam,2.50,NaN
5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN

In [56]:
# 각 나라별 평점이 가장 높은 식당의 이름과 평점 #
starsofcount = pd.DataFrame({'Variety':list(data.groupby('Country').apply(lambda p: p['Variety'].iloc[p.Stars.argmax()])),
                            'Stars':data.groupby('Country').Stars.max(),
                            'Size':data.groupby('Country').size()},
                            index = sorted(data.Country.unique()))

starsofcount

                                                         Variety  Stars  Size
Australia      Fusian Special Edition Ow... Ow... Spicy Cow M...   5.00    22
Bangladesh              Mr. Noodles Curry Flavor Instant Noodles   4.00     7
Brazil                    Cup Noodles Sabor Franhp Com Requeijao   5.00     5
Cambodia             Instant Noodles chicken Green Curry Flavour   5.00     5
Canada                 Chow Mein Japanese Style Noodles Yakisoba   5.00    41
China                      Chongqing Noodles Burning Dry Noodles   5.00   169
Colombia               Sabor A Carne Sopa Instantánea Con Fideos   3.75     6
Dubai                                                  Vegetable   3.75     3
Estonia               Instant Noodles With Chicken Flavour Broth   3.75     2
Fiji                                                Chow Tomato    4.25     4
Finland                                Nuudeli Tom Yum Katkarapu   3.75     3
Germany                                    Soba Yakitori Chicken   5.00    27
Ghana                 Instant Noodles Beef In Light Soup Flavour   3.50     2
Holland                                   Good Noodles Vegetable   3.75     4
Hong Kong      Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...   5.00   137
Hungary        Oriental Style Instant Noodles Shrimp Creamy T...   4.75     9
India                     Atta Noodles Jhatpat Banao Befikr Khao   5.00    31
Indonesia               Mi Goreng Original Flavour Fried Noodles   5.00   126
Japan                           Hearty Japanese Style Curry Udon   5.00   352
Malaysia                 Penang White Curry Rice Vermicelli Soup   5.00   156
Mexico              Cup Noodles Gourmet Sabor A Caldo De Camaron   5.00    25
Myanmar                     Instant Noodles Coconut Milk Flavour   5.00    14
Nepal                       Preeti Instant Noodles Veg Soup Base   5.00    14
Netherlands        Instant Noodles Creamy Tom Yum Shrimp Flavour   4.50    15
Nigeria                                     Onion Chicken Flavor   1.50     1
Pakistan                                  Instant Noodles Masala   4.00     9
Philippines                            Pancit Canton Sweet Spicy   5.00    47
Poland                                Barszcz czerwony (Borscht)   4.00     4
Sarawak                            Instant Kampua Dark Soy Sauce   5.00     3
Singapore      Creamy Soup With Crushed Noodles Hot & Sour Fi...   5.00   109
South Korea                                     Paegaejang Ramen   5.00   309
Sweden                               Instant Noodles Spicy Chili   3.50     3
Taiwan           Man Han Feast Spicy Beef Flavor Instant Noodles   5.00   224
Thailand                             Creamy tom Yum Kung Flavour   5.00   191
UK                                       Shaolin Monk Vegetables   5.00    69
USA                                      Yokohama Tonkotsu Shoyu   5.00   323
United States                             Rice Fettucini Alfredo   3.75     1
Vietnam        Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...   5.00   108